//Media Queries

// RESPONSIVE DESKTOP FIRST DESIGN
/*
-- 480px        : phone/mobile
480px - 768px   : mobile-tablet
768px - 1200px  : tablet-desktop
1200px - 1800px : NORMAL DEFAULT CSS
1800px+         : big-desktop
*/

/* BREAK POINTS*/
// $mobile: 480px (30em)
// $tablet: 768px (48em)
// $desktop: 1200px (75em)
// $big-desktop: 1800px (112.5em)

@mixin ResponsiveDesktopFirst($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 30em) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (max-width: 75em) {
      @content;
    }
  }

  //Desktop is the CSS already created by default

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// RESPONSIVE MOBILE FIRST DESIGN BREAKPOINTS
/*
480px+  : mobile
768px+  : tablet
1200px+ : desktop
1800px+ : big-desktop
*/

@mixin ResponsiveMobileFirst($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: 30em) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (min-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
