/* SASS VARIABLES */

// Colors

$color-bg-1: #fbdb89;
$color-bg-2: #f48982;
$color-bg-3: #f9f5f3;
$color-bg-4: #ffffff;

$text-color: #333;
$text-size: 2rem;

/* BREAK POINTS*/
$tablet: 600px;
$tablet-port: 900px;
$desktop: 1200px;
$big-desktop: 1800px;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

/* ICON COLORS */

$color-gmail: #b23121;
$color-linkedin: rgb(0, 119, 181);
$color-github: #6cc644;
$color-pdf: #b23121;
