/* SASS VARIABLES */

// Colors

$color-palette-1: rgb(222, 85, 66);
$color-palette-2: rgb(168, 104, 45);
$color-palette-3: rgb(46, 51, 70);
$color-palette-4: rgb(129, 153, 74);
$color-palette-5: rgb(249, 49, 23);
$color-palette-6: rgb(92, 44, 27);
$color-palette-7: rgb(224, 201, 149);
$color-palette-8: rgb(204, 141, 116);
$color-palette-9: rgb(56, 80, 35);
$color-palette-10: rgb(145, 134, 108);

$color-bg-1: #f0fbff;
$color-bg-2: #f0fbff;
$color-bg-3: #f9f5f3;
$color-bg-4: #ffffff;
$color-bg-5: #272d45;

$text-color: #333;
$text-size: 2rem;

/* BREAK POINTS*/
$tablet: 600px;
$tablet-port: 900px;
$desktop: 1200px;
$big-desktop: 1800px;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

/* ICON COLORS */

$color-gmail: #b23121;
$color-linkedin: rgb(0, 119, 181);
$color-github: #6cc644;
$color-pdf: #b23121;
