@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";

.Container {
  flex: 0 0 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  //border: 3px solid red;
  padding: 0.2rem 0;

  @include ResponsiveMobileFirst(desktop) {
    flex: 0 1 80%;
  }

  &__Icon {
    flex: 1 1 15%;
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-bg-2;
    align-self: center;

    //border: 2px solid orange;

    @include ResponsiveMobileFirst(desktop) {
      width: 1.8rem;
      height: 1.8rem;
    }
    //margin: 0 0.7rem;
  }

  &__Text {
    flex: 1 1 85%;
    font-size: 1.3rem;
    font-weight: 700;
    //border: 3px solid green;

    @include ResponsiveMobileFirst(desktop) {
      font-size: 1.4rem;
    }
  }
}
