@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";

.Container {
  flex: 0 0 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  //border: 3px solid red;
  padding: 0.2rem 0;

  &__Icon {
    flex: 1 1 15%;
    width: 1.5rem;
    height: 1.5rem;
    fill: green;
    align-self: flex-start;

    

    //margin: 0 0.7rem;
  }

  &__Text {
    flex: 1 1 85%;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
