@import "../../../../sass/variables.scss";
@import "../../../../sass/mixins.scss";

.Container {
  flex: 0 0 8rem;
  height: 8rem;
  max-height: 8rem;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: $color-grey-light-2;
  }

  &__ImageContainer {
    flex: 0 0 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //border-radius: 50%;
    }
  }

  &__TextContainer {
    flex: 0 0 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    //border-top: 1px solid $color-grey-light-1;
    //border-bottom: 1px solid $color-grey-light-1;
    padding: 0px 0.5rem;

    &__Title {
      //font-size: 1.3rem;
      font-size: 1.2rem;
      color: $color-bg-2;
      text-align: center;
    }

    &__Author {
      //font-size: 1.2rem;
      font-size: 1rem;
      color: $color-grey-dark;
      font-weight: 500;
    }
  }
}
