@use "../../sass/variables.scss" as *;
@use "../../sass/mixins.scss" as *;

.Container {
  flex: 0 0 90%;
  height: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;

  order: 1;
  //border: 3px solid blue;

  @include ResponsiveMobileFirst(tab-port) {
    order: 2;
    flex-direction: row;
  }
}
