@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.Container {
  //height: 20%;
  width: 100%;
  max-height: 10%;
  flex: 0 0 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: $color-bg-3;
  order: 2;

  @include ResponsiveMobileFirst(tab-port) {
    order: 1;
  }
}

.FormContainer {
  //max-width: 50rem;
  height: 60%;
  max-height: 60%;

  flex: 0 0 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10rem;
  background-color: white;
  transition: all 0.3s;

  @include ResponsiveMobileFirst(tab) {
    width: 50%;
  }

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
  }

  &__TextField {
    height: 100%;
    width: 80%;
    padding: 0 0 0 2rem;
    margin: 0;
    border-radius: 10rem;
    border: none;

    @include ResponsiveMobileFirst(tab) {
      width: 70%;
    }

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #dad0cc;
    }
  }

  &__ButtonField {
    height: 100%;
    width: 20%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 10rem;
    border: none;
    background-image: linear-gradient(
      to right bottom,
      $color-bg-1,
      $color-bg-2
    );
    transition: all 0.2s;

    @include ResponsiveMobileFirst(tab) {
      width: 30%;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
    }

    &__Icon {
      height: 80%;
      width: 30%;
      fill: white;

      @include ResponsiveMobileFirst(tab) {
        height: 80%;
        width: 15%;
      }
    }

    &__Text {
      display: none;
      width: 60%;
      color: white;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;

      @include ResponsiveMobileFirst(tab) {
        display: block;
      }

      @include ResponsiveMobileFirst(tab-port) {
        font-size: 1.3rem;
      }

      @include ResponsiveMobileFirst(desktop) {
        font-size: 1.5rem;
      }
    }
  }
}

.FavoritesContainer {
  flex: 1 1 20%;
  height: 100%;
  //border: 3px solid blue;
}

.CartContainer {
  flex: 1 1 20%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__Icon {
    width: 60%;
    height: 60%;
    fill: $color-bg-2;
    margin: 0 0.5rem;

    @include ResponsiveMobileFirst(tab-port) {
      display: none;
    }
  }
}

.RecipeLogo {
  width: 25px;
}

.InnerContainer {
  width: 100%;
  margin: auto;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto;
  //border: 3px dotted green;

  &::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //background-color: #f5f5f5;
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar {
    height: 0.6rem;
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f4c282;
    border-radius: 10px;
  }

  &__TextContainer {
    width: 100%;
    flex: 0 0 5rem;
    //padding: 1rem 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    //border: 3px solid blue;

    &__Text {
      color: $color-bg-2;
      font-size: 2rem;
      transform: skewY(-2deg);
    }
  }
}
