@use "./sass/variables.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  user-select: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to right bottom, $color-bg-1, $color-bg-2);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4.h4,
h5,
h6 {
  color: #0c181e;
}

p {
  color: #73767e;
  font-weight: 500;
}

// Antd overrides
// aside.ant-layout-sider {
//   padding-bottom: 0px;
// }

.ant-layout-sider-trigger {
  // position: inherit !important;
}

div.ant-skeleton.ant-skeleton-element:has(> div.ant-skeleton-image) {
  width: 100%;
  aspect-ratio: 1;
}
